/* Box Model Hack */
* {
  box-sizing: border-box;
}
.grid{
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: minmax(100px,auto) repeat(3,100px);
  justify-content: center;
  align-content: center;
}
.square{
  border: 1px solid black;
}
.square:hover{
  background-color: lightgrey;
}
h1{
  display: grid;
  justify-content: center;
  align content: center;
}
button{
  margin-top: 70px;
  height: 50px;
  display: grid;
  justify-content: center;
  align-items: center;
}
h2{
  margin-left: 120px;
}
/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/*LAYOUT
/*******************************************/



/******************************************
/*STYLE
/*******************************************/



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
